/* || IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* || GENERAL STYLES */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */

.header {
  background-color: steelblue;
}

.footer {
  background-color: whitesmoke;
}

/* || HEADER */

.header {
  display: flex;
  align-items: center;
  padding: 4px 4px;
  gap: 4px;

  font-size: 24px;

  position: relative;
  box-shadow: 0 5px 5px -5px gray;
}

.header-logo {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: solid 2px;
}

.header-title {
  margin: 0;
  font-weight: 100;
  font-family: Pacifico, serif;
}

/* || MAIN */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  padding: 64px;
  background-color: whitesmoke;
}

.choices {
  display: flex;
  gap: 64px;
}

.choices > img {
  padding: 16px;
  border: solid 1px;
  border-radius: 16px;
}

.option-button {
  height: 200px;
  width: 200px;
}

.result-display {
  margin: 32px;
}

.results {
  display: flex;
  gap: 100px;
}

.player-details,
.computer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 36px;
}

.player-score,
.computer-score {
  font-size: 100px;
}

/* || FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}