/* || IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || GENERAL STYLES */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */

.header,
.footer {
  background-color: steelblue;
}

/* || HEADER */

.header {
  padding: 8px;

  font-size: 24px;

  position: relative;
  box-shadow: 0 5px 5px -5px gray;
}

.header-title {
  margin: 0;
}

/* || MAIN */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 64px;
  background-color: whitesmoke;
}

.choices {
  display: flex;
  gap: 128px;

}

.option-button {
  height: 200px;
  width: 200px;
}

/* || FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}