/* || IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || GENERAL STYLES */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* || HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}